@inherits LayoutComponentBase

<PageTitle>Bloonin' Time</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
     
        <div class="top-row px-4 auth " style="z-index: 5">
            @* <LoginDisplay /> *@
            @* <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
            <div class="d-inline-flex gap-3 ">
                <p class="lead" >Game Mode</p>
                <DifficultyDropdown @bind-DifficultySelected=DifficultySelected />
            </div>
        </div>

        <article class="content px-4">
            <CascadingValue Value="@DifficultySelected">
                @Body            
            </CascadingValue>
        </article>
    </main>
</div>

@code {
    
    public int DifficultySelected { get; set; } = 0;

}
